
<a ng-href="#/">{{'BACK' | translate}} </a>
<img ng-src="/images/{{participant.image}}" ng-if="participant.image" class="participantImage" />

<h1>{{participant.scoutname}}</h1>

<div><strong>{{'PARTICIPANT_GROUP' |translate}}: </strong>{{participant.scoutGroup}} ({{participant.canton}})</div>
<div><strong>{{'PARTICIPANT_FUNCTION' |translate}}: </strong>{{participant.experience}}</div>
<div><strong>{{'PARTICIPANT_COMMENT' |translate}}: </strong>{{participant.actualFunction}}</div>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Mehr Infos</button>
<div id="demo" class="collapse">
    <div><strong>{{'PARTICIPANT_INFOFROMRECOMMENDINGINSTANCE' |translate}}: </strong>{{participant.futurePlans}}</div>
    <div><strong>{{'PARTICIPANT_EXPERIENCE' |translate}}: </strong>{{participant.motivation}}</div>
    <div><strong>{{'PARTICIPANT_SCOUTFUTUREPLANS' |translate}}: </strong>{{participant.recommendation}}</div>
    <div><strong>{{'PARTICIPANT_MOTIVATIONANDEXPECTINGSFORCOURSE' |translate}}: </strong>{{participant.comment}}</div>
<br />
</div>


<a ng-href="#/beobachtung/add/{{participant.participantId}}" class="btn btn-primary">
  {{'PARTICIPANT_ADD_NOTICE' |translate}}</a>

<div style="clear: both;"></div>
<div ng-repeat="category in participant.categories">
    <h2 class="categoryTitle"><i class="fa fa-{{category.cssClass}}"></i> {{category.name}}</h2>
    <table class="table">
      <tr>
        <th>Beobachtung</th>
        <th>Aktivität</th>
        <th>Moment</th>
        <th>Leiter</th>
        <th></th>
      </tr>
      <tr ng-repeat="beobachtung in category.beobachtungen">
        <td style="white-space: pre-wrap;">{{beobachtung.beobachtung}}</td>
        <td>{{beobachtung.activityNumber}} {{beobachtung.activityTitle}}</td>
        <td>{{beobachtung.datetime }}</td>
        <td>{{beobachtung.leaderScoutName}}</td>
        <td><a ng-href="#/beobachtung/modify/{{beobachtung.beobachtungId}}">Bearbeiten</a></td>
      </tr>
    </table>
    <!-- <ul>
        <li ng-repeat="beobachtung in category.beobachtungen">
            {{beobachtung.beobachtung}} (

            <span ng-if="beobachtung.activityNumber"> {{beobachtung.activityNumber}} {{beobachtung.activityTitle}}</span>
            <span ng-if="!beobachtung.activityNumber"> {{beobachtung.datetime }}</span>

            , {{beobachtung.leaderScoutName}})
            <a ng-href="#/beobachtung/modify/{{beobachtung.beobachtungId}}">Bearbeiten</a>

        </li>

    </ul> -->
</div>
